.app_main {
  padding: 10px;
  min-height: inherit;
}
.app {
  max-width: 1010px;
  margin: 0 auto;
  min-height: inherit;
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
}
.app_tabs {
  width: fit-content;
  margin: 0 auto;
}
